---
const { data } = Astro.props;
---

<div>
  <h2 class="sr-only">{data?.title}</h2>
  <h3 class="sr-only">{data?.title} lyrics</h3>
  <h4 class="sr-only">{data?.artist} songs</h4>
  <h2 class="sr-only">
    {data?.artist}
    {data?.title} lyrics
  </h2>
  <h2 class="sr-only">
    {data?.title} guitar chords
  </h2>
  <h4 class="sr-only">{data?.artist}</h4>
  <h5 class="sr-only">{data?.title} เนื้อเพลง</h5>
  <h6 class="sr-only">{data?.title} คอร์ด</h6>
</div>
