---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";

type Props = CollectionEntry<"nkauj">["data"];

const { title, description, artist, heroImage, pubDate } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// Parse the date string
const date = new Date(pubDate);

// Format the date
const formattedDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<html lang="en">
  <head>
    <BaseHead
      title={`${title} ${artist} - ${SITE_TITLE} Hmoob`}
      description={description}
      image={heroImage}
    />
  </head>

  <body>
    <Header />
    <main class="max-w-6xl mx-auto px-4">
      <article>
        <div class="flex justify-start pb-3 mb-5 border-b">
          <div class="max-w-32 max-h-32 rounded-md shadow-md">
            <img src={heroImage} class="rounded-md" />
          </div>
          <div class="ml-5">
            <h1 class="text-3xl font-bold">{title}</h1>
            <p>{artist}</p>
            <p class="text-sm">
              <time datetime={pubDate}>{formattedDate}</time>
            </p>
          </div>
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
