---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'learning'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-black text-white">
		<Header />
		<main class="max-w-6xl mx-auto px-4">
			<article>
				<div class="text-center">
					{heroImage && <img class="mx-auto"  src={heroImage} alt={title} />}
				</div>
				<div>
					<div class="text-center">
						<div >
							{pubDate}
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on {updatedDate}
									</div>
								)
							}
						</div>
						<h1 class="text-3xl font-bold">{title}</h1>
						<hr class="my-2" />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
