---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";

interface Props {
  title: string;
  description: string;
  artist: string;
  writtenBy?: string;
  pubDate: string;
  heroImage: string;
  key: string;
}

const { title, description, artist, pubDate } = Astro.props;
// Parse the date string
const date = new Date(pubDate);

// Format the date
const formattedDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<html lang="en">
  <head>
    <BaseHead
      title={`${title} ${artist ? `${artist} ` : ""}- ${SITE_TITLE} Hmoob`}
      description={description}
      image="/zaj-tshoob/zaj-tshoob.png"
    />
  </head>

  <body>
    <Header />
    <main class="max-w-6xl mx-auto px-4">
      <article>
        <div class="mb-5">
          {artist && <p>{artist}</p>}
          <h1 class="text-3xl font-bold">{title}</h1>
          <p class="text-sm">
            <time datetime={pubDate}>{formattedDate}</time>
          </p>
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
